 
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**

### STS ###
.apt_generated
.classpath
.factorypath
.settings
.springBeans
.sts4-cache
*cred.json
*.project
.mvn
logs

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/