.fa-spinner {
    animation: spinanim 1s linear infinite;
}

@keyframes spinanim {
    to { transform: rotate(360deg); }
}

/* Maps API Suggestions Container */
.pac-container {
    z-index: 1051 !important;
  }